# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# cache
.next
.vercel

# cypress
**/cypress/downloads/
**/cypress/screenshots/
**/cypress/videos/

# dependencies
node_modules

# logs
*.log
npm-debug.log*

# misc
.DS_Store
.env*

# panda
**/styled-system/

# tests
coverage
